<ion-header>
    <ion-toolbar>
        <ion-title>Pasatiempos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <!--Begin Item-->
        <ion-item>
            <ion-label>Anime</ion-label>
            <ion-badge color="primary" slot="end">50%</ion-badge>
        </ion-item>
        <!--End Item-->

        <!--Begin Item-->
        <ion-item>
            <ion-label>League of Legends</ion-label>
            <ion-badge color="secondary" slot="end">50%</ion-badge>
        </ion-item>
        <!--End Item-->

        <!--Begin Item-->
        <ion-item>
            <ion-label>Netflix</ion-label>
            <ion-badge color="tertiary" slot="end">50%</ion-badge>
        </ion-item>
        <!--End Item-->

        <!--Begin Item-->
        <ion-item>
            <ion-label>Estudio</ion-label>
            <ion-badge color="success" slot="end">50%</ion-badge>
        </ion-item>
        <!--End Item-->

        <!--Begin Item-->
        <ion-item>
            <ion-label>Ejercicio</ion-label>
            <ion-badge color="warning" slot="end">50%</ion-badge>
        </ion-item>
        <!--End Item-->

        <!--Begin Item-->
        <ion-item>
            <ion-label>Leer</ion-label>
            <ion-badge color="danger" slot="end">50%</ion-badge>
        </ion-item>
        <!--End Item-->

        <!--Begin Item-->
        <ion-item>
            <ion-label>Dibujar</ion-label>
            <ion-badge color="light" slot="end">50%</ion-badge>
        </ion-item>
        <!--End Item-->

        <!--Begin Item-->
        <ion-item>
            <ion-label>Programar</ion-label>
            <ion-badge color="medium" slot="end">50%</ion-badge>
        </ion-item>
        <!--End Item-->

        <!--Begin Item-->
        <ion-item>
            <ion-label>Baloncesto</ion-label>
            <ion-badge color="dark" slot="end">50%</ion-badge>
        </ion-item>
        <!--End Item-->

        <!--Begin Item-->
        <ion-item>
            <ion-label>Mangas</ion-label>
            <ion-badge color="primary" slot="end">50%</ion-badge>
        </ion-item>
        <!--End Item-->
    </ion-list>




</ion-content>